services: 
  postgres:
    container_name: threads-db
    image: postgres:18-alpine 
    ports: 
      - "5432:5432"
    volumes: 
      - postgres_data:/var/lib/postgresql # Mount to parent dir
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: threads
      POSTGRES_PASSWORD: threads   

volumes:
  postgres_data: